.card-font{
    font-family: 'Tienne', serif;
}

body{
    background-color: #F5F5F0;
    color: #83714b;
}

.text-container{
    width: 700px;
    margin: 30px auto;
}

.ad-row{
    width: 80%;
    margin: 30px auto;
}

.ad-card{
    width: 300px;
}